<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Clothing Parsing</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/labels.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='fas fa-tshirt'></i>
      <span class="logo_name">Clothing Parsing</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/home">
          <i class='bx bx-home'></i>
          <span class="link_name">Home</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/home">Home</a></li>
        </ul>
      </li>
      <li>
        <a href="/1">
          <i class='bx bx-cloud-upload'></i>
          <span class="link_name">Upload Data</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/1">Upload Data</a></li>
        </ul>
      </li>
      <li>
        <a href="/2">
          <i class='bx bxs-label'></i>
          <span class="link_name">Label Data</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/2">Label Data</a></li>
        </ul>
      </li>
      <li>
        <a href="/uploaded_data">
          <i class='bx bxs-data'></i>
          <span class="link_name">Uploaded Data</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/uploaded_data">Uploaded Data</a></li>
        </ul>
      </li>
      <!--
      <li>
        <div class="iocn-link">
          <a href="/color_predict">
            <i class='bx bx-palette'></i>
            <span class="link_name">Color Analysis</span>
          </a>
        </div>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/color_predict">Color Analysis</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a>
            <i class='bx bxs-data'></i>
            <span class="link_name">Datas</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name">Datas</a></li>
          <li><a href="/1">Upload Data</a></li>
          <li><a href="/3">Uploaded Datas</a></li>
          <li><a href="/label">Labels</a></li>
        </ul>
      </li>

      <li>
      -->
    
    <div class="profile-details">
      
      <div class="profile-content">
        <img src="static/image/icon.png" alt="profileImg">
      </div>
    
      <div class="name-job">
        <div class="profile_name">{{username}}</div>
        <div class="job">Welcome</div>
      </div>
      <a href="/logout"><i style="size:50px ; margin-right:10px;" class='bx bx-log-out' ></i></a>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <!-- <span class="text">Drop Down Sidebar</span> -->
      <img class="zoi-logo" src="static/image/logo.png">
    </div>
    <div class="slider">
      <div class="slider-wrapper flex">
          {% for i in list %}
          <div class="slide flex ert">
              <div class="slide-image slider-link next"><img src="https://storage.googleapis.com/datas002/{{i}}"><div class="overlay"></div></div>
              <div class="slide-content">
                  <br>
                  <a href="/3/{{i}}">
                      <button class="btn true">
                        <i class='bx bx-check'></i> True
                      </button>
                  </a>
                  <br>
                  <br>
                  <a href="/4/{{i}}">
                      <button class="btn false">
                        <i class='bx bx-x'></i> False
                      </button>
                  </a>
              </div>	
          </div>
          {% endfor %}	
      </div>
      <div class="arrows">
      <a href="#" title="Previous" class="arrow slider-link prev"></a>
      <a href="#" title="Next" class="arrow slider-link next"></a>
      </div>
      </div>
  </div>
  </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/labels.js"></script>

</body>

</html>
